@import "./globals";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $mainFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyDarkBgColor;
}

@keyframes slideFromTop {
0% {
  transform: translateY(-100%);
}
100% {
  transform: translateY(0);
}
}

.App{
  width: 100vw;
  height: 100vh;
  animation: 1s ease-out 0s 1 slideFromTop;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  color: $lightFontColor;
  box-shadow: 1px 1px 1px rgba(245, 245, 220, 0.1);
  
  .add-btn{
    @include formButton($blueBtnColor, $darkFontColor, $hoverBtnGreen);
  }
}

.recipe-list{
  margin: 1rem 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}